{% extends 'parent.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h4>Optimisez les revenus municipaux grâce à notre service intégré de collecte de taxes pour les commerçants.</h4>
        Dans un contexte financier municipal de plus en plus complexe, chaque unité de monnaie devient crucial. Notre service novateur de collecte de taxes sur les places publiques propose une solution clé en main pour maximiser les revenus des municipalités. En déléguant cette tâche ardue et chronophage à notre équipe d'experts, les administrations locales peuvent se recentrer sur leurs missions principales tout en observant une hausse significative de leurs recettes fiscales.



        <br><br><br><br><br>
        <h4>Concentrer vous sur votre activité</h4>
        Favorisez le développement des commerces locaux et stimulez l'économie de votre région grâce à notre solution innovante de collecte de taxes, incluant également le nettoyage et la réparation des marchés.
        En simplifiant non seulement la collecte des taxes, mais aussi en prenant en charge le nettoyage et la réparation des marchés, nous participons à renforcer le tissu économique de votre ville. Cette approche permet également une gestion efficiente des ressources municipales, tout en assurant un suivi rigoureux des opérations.

        <br><br><br><br><br>
        <h4> concentrer sur les missions essentielles de votre municipalité.</h4>
        Les municipalités sont fréquemment dépassées par un éventail de responsabilités sociale et politiques et avec manques de ressources. Notre service de collecte des taxes des commerçants sur les places publiques offre un soulagement bienvenu en externalisant cette tâche administrative cruciale. En déléguant cette responsabilité à notre équipe spécialisée, les administrations locales peuvent libérer des ressources précieuses, se recentrer sur leurs objectifs fondamentaux et garantir une gestion fiscale efficace sans compromis
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <form class="form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h4>Connexion à votre compte</h4>
            <br>
            <div class="form-group">
                <label for="username"  class="form-label">Identifiant:</label><br>
                <input type="text" class="form-control form-control-lg" name="username" id="username">
            </div>
            <br>
            <div class="form-group">
                <label for="password" class="form-label">Mot de passe:</label><br>
                <input type="password" class="form-control form-control-lg" name="password" id="password">
            </div>
            <br>
            <div class="form-group ">
                <input type="submit" name="submit" class="btn btn-primary btn-lg w-100" value="Connexion">
            </div>
            <br><br>
            <a href="https://pantheonsorbonne.zoom.us/j/98680313611?pwd=Uk1qS3pvS0I2YWRiR3Rkc0VGOEZSZz09">https://pantheonsorbonne.zoom.us/j/98680313611?pwd=Uk1qS3pvS0I2YWRiR3Rkc0VGOEZSZz09</a>
        </form>
    </div>
    <div class="col-md-2"></div>
</div></div>
{% endblock %}

