{% extends 'parent.html' %}

{% block content %}
<br><br><br>
<div class="row">
    <div class="col-md-6">
        <h4>Augmenter vos revenus</h4>
       Notre service de collecte de taxes des commerçants sur les places publiques offre une solution intégrée et transparente, avec un suivi technologique de pointe. En déléguant cette responsabilité à notre équipe spécialisée, les administrations locales peuvent se recentrer sur leurs missions principales tout en assurant une gestion fiscale efficace et une augmentation claire et significative de leurs revenus.

        <br><br><br><br><br>
        <h4>Concentrer vous sur votre activité</h4>
        Favorisez le développement des commerces locaux et stimulez l'économie de votre région grâce à notre solution innovante de collecte de taxes, incluant également le nettoyage et la réparation des marchés.

        <br><br><br><br><br>
        <h4>Concentrer sur les missions essentielles de votre municipalité.</h4>
        Les municipalités, souvent surchargées de responsabilités sociales et politiques avec des ressources limitées, bénéficient d'un soulagement appréciable grâce à notre service de collecte des taxes des commerçants sur les places publiques. En confiant cette tâche à notre équipe spécialisée, elles libèrent des ressources précieuses, se recentrent sur leurs objectifs essentiels et assurent une gestion fiscale efficace
           </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <form class="form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h4>Connexion à votre compte</h4>
            <br>
            <div class="form-group">
                <label for="username"  class="form-label">Identifiant:</label><br>
                <input type="text" class="form-control form-control-lg" name="username" id="username">
            </div>
            <br>
            <div class="form-group">
                <label for="password" class="form-label">Mot de passe:</label><br>
                <input type="password" class="form-control form-control-lg" name="password" id="password">
            </div>
            <br>
            <div class="form-group ">
                <input type="submit" name="submit" class="btn btn-primary btn-lg w-100" value="Connexion">
            </div>
            <br><br>
            <a href="https://pantheonsorbonne.zoom.us/j/98680313611?pwd=Uk1qS3pvS0I2YWRiR3Rkc0VGOEZSZz09">https://pantheonsorbonne.zoom.us/j/98680313611?pwd=Uk1qS3pvS0I2YWRiR3Rkc0VGOEZSZz09</a>
        </form>
    </div>
    <div class="col-md-2"></div>
</div></div>
{% endblock %}

