{% extends 'main.html' %}

{% block content %}

<div id="map"></div>

<br>
<h4>Listes des commerces et services de la commune</h4>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Ville</th>
      <th scope="col">Nom et Prénom</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Nombre de porte</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Propriété</th>
      <th scope="col">Nom</th>
      <th scope="col">Quartier</th>
      <th scope="col">Specialité</th>
    </tr>
  </thead>
  <tbody>
  {% for entity in entities %}
    <tr>
        <td>{{entity.ville}}</td>
        <td>{{entity.nom_complet}}</td>
        <td>{{entity.telephone}}</td>
        <td>{{entity.nom}}</td>
        <td>{{entity.quartier}}</td>
        <td>{{entity.speciality}}</td>
        <td>{{entity.nbr_porte}}</td>
        <td>{{entity.category}}</td>
        <td>{{entity.property}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}