{% extends 'parent.html' %}

{% block content %}
<div style="margin:5%">
<div class="row" >
    <h1 class="font-weight-bold">{{entity.get_display_name}}</h1>
    <div class="fs-3"><b>Activité : </b>{{entity.activity}}</div>
    <div class="fs-3"><b>Place : </b>{{entity.city}}</div>
    <div class="fs-3"><b>Ville : </b>{{entity.locality}}</div>
    <div class="fs-3"><b>Téléphone :</b>{{entity.contact_phone}}</div>
</div>
<br><br>
<div class="row">
    <div class="col-md-3">Historique des paiements</div>
    <div class="col-md-1">ddfdfdf</div>
    <div class="col-md-8">Localisation géographique<div id="map" class="map"></div>
    </div>
</div>
 <br><br><br>
 <br><br><br>
 <br><br><br>
    </div>
{% endblock %}

{% block script %}

<script async type="text/javascript">
		var coord = "{{entity.coord}}";
		var lat = coord.split(";")[0];
		var lon = coord.split(";")[1];
		var map = null;
		function initMap() {
				map = new google.maps.Map(document.getElementById("map"), {
					center: new google.maps.LatLng(lat, lon),
					zoom: 14
				});
				 new google.maps.Marker({
                    position: new google.maps.LatLng(lat, lon),
                map,
                title: "{{entity.get_display_name}}",
  });
		}
		window.onload = function(){
				initMap();
		};
		</script>

{% endblock %}