{% extends 'parent.html' %}

{% block content %}
<div style="margin:5%">
<div class="row" >
    <h1 class="font-weight-bold">{{entity.get_display_name}}</h1>
    <div class="fs-3"><b>Activité : </b>{{entity.activity}}</div>
    <div class="fs-3"><b>Place : </b>{{entity.city}}</div>
    <div class="fs-3"><b>Ville : </b>{{entity.locality}}</div>
    <div class="fs-3"><b>Téléphone :</b>{{entity.contact_phone}}</div>
</div>
<br><br>
<div class="row">
    <div class="col-md-3">Historique des paiements</div>
    <div class="col-md-1">ddfdfdf</div>
    <div class="col-md-8">Localisation géographique<div id="map" class="map"></div>
    </div>
</div>
 <br><br><br>
 <br><br><br>
 <br><br><br>
    </div>
{% endblock %}