{% extends 'parent.html' %}

{% block content %}
<div class="container">
    <h2> Listes des entités - {{  request.GET.city|default:"" }} {{  request.GET.locality|default:"" }} {{ request.GET.property|default:"" }}

    </h2>


<div class="table-responsive mt-3">
  <table class="table table-bordered text-center align-middle">
    <thead class="table-dark">
      <tr>
        <th>#Entités -Espace Privé</th>
        <th>#Porte  - Espace Privé</th>
        <th>Montant - Espace Privé</th>
        <th>#Entité - Espace Public</th>
        <th>#Porte  - Espace Public</th>
        <th>Montant - Espace Public</th>
        <th>Montant Total </th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-primary">
          <td>{{entity_public_montant}} </td>
          <td>{{entity_privee_porte}} </td>
          <td>{{entity_privee_montant}} </td>
          <td>{{entity_public_nbr}}</td>
          <td>{{entity_public_porte}}</td>
          <td>{{entity_public_montant}}</td>
          <td>{{montant_total}}</td>

</tr>
    </tbody>
  </table>
</div>

  <!-- Lien aligné à droite -->
  <div>

  </div>

<br>

<form method="get" class="d-flex justify-content-center align-items-center mb-3 flex-wrap">
    <!-- City -->
    <div class="me-2 mb-2">
        <select class="form-control" name="city" id="city">
            <option value="">-- Tous --</option>
            {% for p in cities %}
                <option value="{{ p }}" {% if request.GET.city == p %}selected{% endif %}>{{ p }}</option>
            {% endfor %}
        </select>
    </div>


    <!-- Locality -->
    <div class="me-2 mb-2">
        <select class="form-control" name="locality" id="locality">
            <option value="">-- Tous --</option>
            {% for l in localities %}
                <option value="{{ l }}" {% if request.GET.locality == l %}selected{% endif %}>{{ l }}</option>
            {% endfor %}
        </select>
    </div>


    <!-- Property -->
    <div class="me-2 mb-2">
        <select class="form-control" name="property" id="property">
            <option value="">-- Tous --</option>
            {% for p in properties %}
                <option value="{{ p }}" {% if request.GET.property == p %}selected{% endif %}>{{ p }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Activity -->
    <div class="me-2 mb-2">
        <select class="form-control" name="activity" id="activity">
            <option value="">-- Tous --</option>
            {% for a in activities %}
                <option value="{{ a }}" {% if request.GET.activity == a %}selected{% endif %}>{{ a }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Status -->
    <div class="me-2 mb-2">
        <select class="form-control" name="status" id="status">
            <option value="">-- Tous --</option>
            {% for s in statuses %}
                <option value="{{ s }}" {% if request.GET.status == s %}selected{% endif %}>{{ s }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Active -->
    <div class="me-2 mb-2">
        <select class="form-control" name="active" id="active">
            <option value="">-- Tous --</option>
            <option value="1" {% if request.GET.active == "1" %}selected{% endif %}>Present</option>
            <option value="0" {% if request.GET.active == "0" %}selected{% endif %}>Absent</option>
        </select>
    </div>

    <!-- Nom -->
<div class="me-2 mb-2">
    <input type="text"
           class="form-control"
           name="nom"
           id="nom"
           value="{{ request.GET.nom }}"
           placeholder="Nom ou prenom"
           minlength="3">
</div>

<!-- Téléphone -->
<div class="me-2 mb-2">
    <input type="text"
           class="form-control"
           name="telephone"
           id="telephone"
           value="{{ request.GET.telephone }}"
           placeholder="Téléphone"
           pattern="\d{8}"
           title="Veuillez entrer un numéro de téléphone à 8 chiffres">
</div>

    <!-- Boutons -->
    <div class="d-flex mb-2">
        <button type="submit" class="btn btn-primary me-2">Filtrer</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Réinitialiser</a>
    </div>
</form>

<br><br>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
    <th>#</th>
    <th scope="col">Place</th>
    <th scope="col">Nom</th>
    <th scope="col">Prénom</th>
    <th scope="col">Phone</th>
    <th scope="col">Activité</th>
    <th scope="col">Propriété</th>
    <th scope="col">Type</th>
    <th scope="col">#Porte</th>
    <th scope="col">Status</th>
    <th scope="col">Info</th>
    <th scope="col">date_created</th>
</tr>
</thead>
<tbody>
{% for entity in entities %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ entity.locality }}</td>
    <td>{{ entity.contact_nom }}</td>
    <td>{{ entity.contact_prenom }}</td>

<td>
    {% if entity.contact_phone|length == 8 %}
        {{ entity.contact_phone }}
    {% else %}
        ---
    {% endif %}
</td>
    <td>{{ entity.activity }}</td>
    <td>{{ entity.property }}</td>
    <td>{{ entity.type_entity }}</td>
    <td>{{ entity.porte }}</td>
    <td>{{ entity.status }}</td>
    <td>

        <a href="{% url 'entity-detail' entity.id %}">Détail</a>
    </td>
    <td>{{ entity.date_created|date:"d/m/Y H:i" }}</td>
</tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}