{% extends 'parent.html' %}

{% block content %}

<div class="container">
<div class="row">
<div class="col-md-4"></div>
 <div class="col-md-5">

<h2>Déclarer des opérations</h2>
<a href="{% url 'mouvement_list' %}" class="btn btn-secondary mt-3">Voir la liste des operations</a>

<br>
    {% if success_message %}
        <div class="alert alert-success">{{ success_message }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}   <!-- simple, déjà stylé par les widgets -->
        <button type="submit" class="btn btn-primary mt-3 w-100">Enregistrer</button>
    </form>

</div>
 <div class="col-md-2"></div></div></div>
{% endblock %}