{% extends 'parent.html' %}

{% block content %}
<br>
<h4>declarer une operations</h4>
<br>
<
    {% if success_message %}
        <div class="alert alert-success">{{ success_message }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="row g-3">
            {% for field in form %}
                <div class="col-md-4">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field|add_class:"form-control" }}
                    {% if field.errors %}
                        <div class="text-danger">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
    </form>

    <a href="{% url 'mouvement_list' %}" class="btn btn-secondary mt-3">Voir la liste des operations</a>
</div>
{% endblock %}