{% extends 'parent.html' %}

{% block content %}

<h2>Liste des Paiements par Entité</h2>

   <form method="get" class="filter-form">
    <label for="annee">Année:</label>
    <input type="number" name="annee" id="annee" value="{{ annee }}" placeholder="2025">

    <label for="mois">Mois:</label>
    <select name="mois" id="mois">
        <option value="">-- Tous --</option>
        {% for key, label in MONTH_CHOICES %}
            <option value="{{ key }}" {% if mois == key %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
    </select>

    <label for="status">Statut:</label>
    <select name="status" id="status">
        <option value="">-- Tous --</option>
        {% for key, label in STATUS_CHOICES %}
            <option value="{{ key }}" {% if status == key %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
    </select>

    <button type="submit">Filtrer</button>
    <a href="{% url 'entity_paiements' %}" style="margin-left:10px;">
        <button type="button">Réinitialiser</button>
    </a>
</form>
    <!-- Tableau -->
    <table>
        <thead>
            <tr>
                <th>Ville</th>
                <th>Localité</th>
                <th>Activité</th>
                <th>Type</th>
                <th>Propriété</th>
                <th>Nom Contact</th>
                <th>Prénom Contact</th>
                <th>Téléphone</th>
                <th>Porte</th>
                <th>Status Entité</th>
                <th>Mois</th>
                <th>Année</th>
                <th>Valeur Paiement</th>
                <th>Status Paiement</th>
                <th>Date Paiement</th>
            </tr>
        </thead>
        <tbody>
            {% for paiement in paiements %}
                <tr>
                    <td>{{ paiement.entity_model.city }}</td>
                    <td>{{ paiement.entity_model.locality }}</td>
                    <td>{{ paiement.entity_model.activity }}</td>
                    <td>{{ paiement.entity_model.type_entity }}</td>
                    <td>{{ paiement.entity_model.property }}</td>
                    <td>{{ paiement.entity_model.contact_nom }}</td>
                    <td>{{ paiement.entity_model.contact_prenom }}</td>
                    <td>{{ paiement.entity_model.contact_phone }}</td>
                    <td>{{ paiement.entity_model.porte }}</td>
                    <td>{{ paiement.entity_model.status }}</td>
                    <td>{{ paiement.mois }}</td>
                    <td>{{ paiement.annee }}</td>
                    <td>{{ paiement.value }}</td>
                    <td>{{ paiement.status }}</td>
                    <td>{{ paiement.date }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="15">Aucun paiement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}