{% extends 'parent.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
<form method="post" action="/paiement">
    <div class="form-group">
        <label for="year">Année</label>
        <input type="number" class="form-control" id="year" value="{{year}}">
    </div>
    <div class="form-group">
        <label for="month">Mois</label>
        <select class="form-control" id="month">
            <option value="01">Janvier</option>
            <option value="02">Fevrier</option>
            <option value="03">Mars</option>
            <option value="04">Avril</option>
            <option value="05">Mai</option>
            <option value="06">Juin</option>
            <option value="07">Juillet</option>
            <option value="08">Aout</option>
            <option value="09">Septembre</option>
            <option value="10">Octobre</option>
            <option value="11">Novembre</option>
            <option value="12">Decembre</option>
        </select>
    </div>
<br>
   <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="inlineCheckbox1" value="0">
  <label class="form-check-label" for="inlineCheckbox1">Non payé</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="inlineCheckbox2" value="1">
  <label class="form-check-label" for="inlineCheckbox2">Payé</label>
</div>
    <br><br>
    <button type="button" class="btn btn-primary btn-block w-100">Primary</button>
</form>
    </div>
    <div class="col-md-4"></div></div>
<br><br><br>
<div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-8">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Place</th>
                <th scope="col">Propriété</th>
                <th scope="col">Nom</th>
                <th scope="col">Phone</th>
                <th scope="col">Porte</th>
                <th scope="col">Montant</th>
                <th scope="col">Status</th>
                <th scope="col">Detail</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in clients_pai %}
            <tr>
                <td>{{entity.city}}</td>
                <td>{{entity.locality}}</td>
                <td>{{entity.property}}</td>
                <td>{{entity.contact_name}}</td>
                <td>{{entity.contact_phone}}</td>
                <td>{{entity.porte}}</td>
                <td>20</td>
                <td>{{entity.status}}</td>
                 <td ><a href="{{entity.get_absolute_url }}"> Detail </a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    <div class="col-md-2"></div>

</div>
{% endblock %}