{% extends 'parent.html' %}

{% block content %}
<div class="container my-5">
<br><br>
    <div class="card-header bg-primary text-white">
            <h3 class="mb-0"> Rechercher une entité</h3>
    </div>
    <br><br>
    <!-- Formulaire de recherche -->
    <form method="get" class="mb-4 row g-2" role="search">
        <div class="col-md-3">
            <input type="text" name="nom" value="{{ request.GET.nom|default:'' }}" class="form-control" placeholder="Nom...">
        </div>
        <div class="col-md-3">
            <input type="text" name="prenom" value="{{ request.GET.prenom|default:'' }}" class="form-control" placeholder="Prénom...">
        </div>
        <div class="col-md-3">
            <input type="text" name="telephone" value="{{ request.GET.telephone|default:'' }}" class="form-control" placeholder="Téléphone...">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary w-100" type="submit">Rechercher</button>
        </div>
    </form>
<br><br>
    {% if not entities %}
        <div class="alert alert-warning">Aucune entité trouvée.</div>
    {% else %}
        <div class="table-responsive shadow-sm">
            <table class="table table-striped table-bordered align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>City</th>
                        <th>Localité</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Téléphone</th>
                        <th>Activité</th>
                        <th>Propriété</th>
                        <th>Type</th>
                        <th>#Porte</th>
                        <th>Status</th>
                        <th>Info</th>
                        <th>Date création</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                         <td>{{ entity.city|default:"-" }}</td>
                        <td>{{ entity.locality|default:"-" }}</td>
                        <td>{{ entity.contact_nom|default:"-" }}</td>
                        <td>{{ entity.contact_prenom|default:"-" }}</td>
                        <td>
                            {% if entity.contact_phone|length == 8 %}
                                {{ entity.contact_phone }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td>{{ entity.activity|default:"-" }}</td>
                        <td>{{ entity.property }}</td>
                        <td>{{ entity.type_entity }}</td>
                        <td>{{ entity.porte }}</td>
                        <td>
                           {{ entity.status }}
                        </td>
                        <td>
                            <a href="{% url 'entity-detail' entity.id %}" >
                                Détail
                            </a>
                        </td>
                        <td>{{ entity.date_created|date:"d/m/Y H:i" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}
